<h1>Fundamentos de TS</h1>
<button (click)="variables()">Variables</button>
<button (click)="otrasVariables()">Otras Variables</button>
<button (click)="tipoString()">Tipo String</button>
<button (click)="tipoNumber()">Tipo Number</button>
<button (click)="operadores()">Operadores</button>
<button (click)="usaEnumeracion()">Enumeracion</button>
<button (click)="tipoAny()">Any</button>
<button (click)="tipoUnknown()">Unknow</button>
<button (click)="asercionTipos()">Asercion</button>
<button (click)="tiposUnion()">Union</button>
<button (click)="tiposLiterales()">Literales</button>
<button (click)="matrices()">Matrices</button>